.hero-left {
  position: relative;
  background: url('../images/hero-bg.png') no-repeat 60% 25% / cover;
}

.hero-left::after {
  content: "";
  position: absolute;
  inset: 0;
  z-index: var(--z-overlay);
  background:
    linear-gradient(
      to bottom,
      rgba(0,0,0,1) 0%,
      rgba(0,0,0,0.5) 20%,
      rgba(0,0,0,0) 50%,
      rgba(0,0,0,0.5) 80%,
      rgba(0,0,0,1) 100%
    ),
    linear-gradient(
      to bottom,
      rgba(104,0,104,0.6),
      rgba(0,0,0,0.5)
    );
}

.hero-left > * {
  position: relative;
  z-index: var(--z-content);
}