* { box-sizing: border-box; margin: 0; padding: 0; }
html, body { height: 100%; font-family: var(--font-sans); font-size: var(--font-size-base); line-height: var(--line-height-base); }
a { text-decoration: none; color: var(--color-primary); }
a:hover { text-decoration: underline; }

body { background-color: var(--color-black); color: var(--color-white); }