.hero-form-container {
  display: flex;
  min-height: 100vh;
}

.hero-left,
.form-right {
  width: 50%;
}

@media (max-width: 768px) {
  .hero-form-container {
    flex-direction: column;
  }

  .hero-left {
    height: 28vh;
    width: 100%;
  }

  .form-right {
    width: 100%;
    height: calc(100vh - 28vh);
  }
}