#app {
  min-height: 100vh;
}

.hero-form-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  min-height: 100vh;
}

.hero-left,
.form-right {
  padding: var(--space-lg);
}

@media (max-width: 900px) {
  .hero-form-container {
    grid-template-columns: 1fr;
  }
}