/* Dark / Light theme toggle */
body[data-theme="dark"] {
  --color-black: #000000;
  --color-grey-dark: #1a1a1a;
  --color-grey-light: #f2f2f2;
  --color-white: #ffffff;
}

body[data-theme="light"] {
  --color-black: #f2f2f2;
  --color-grey-dark: #e0e0e0;
  --color-grey-light: #ffffff;
  --color-white: #1a1a1a;
}