/* themes.css */
@layer themes {
  [data-theme="dark"] {
    --bg-page: var(--color-bg-0);
    --bg-surface: var(--color-bg-1);
    --text-primary: var(--color-text-0);
    --text-secondary: var(--color-text-1);
    --accent: var(--color-accent-0);
    --border: var(--color-border-0);
  }

  [data-theme="light"] {
    --bg-page: #ffffff;
    --bg-surface: #f4f4f7;
    --text-primary: #111;
    --text-secondary: #444;
    --accent: #680068;
    --border: rgba(0,0,0,.1);
  }
}
